<div class="container">
  <div class="container_form">
    <h1><strong>Artículo</strong></h1>
    <div class="field">
      <h2><strong><%= @article.title %></strong></h2>
    </div>
    <div class="field">
      <%= image_tag @article.image.url(:medium) %>
    </div>
    <div class="field">
      <h4><strong>Descripción:</strong></h4>
      <p><%= @article.description %></p>
    </div>
    <div class="field">
      <h4><strong>Categorías:</strong></h4>
      <% @article.category.each do |category| %>
      <%= link_to category.title, category %>, 
      <% end %>
    </div>
    <div class="field">
      <% if user_signed_in? && current_user.is_asistant? || user_signed_in? && current_user.is_admin? %>
      <%= link_to 'Editar', edit_article_path(@article) %> |
      <%= link_to 'Regresar', :back %>
      <% else %>
      <%= link_to 'Regresar', :back %>
      <% end %>
    </div>
  </div>
</div>
