<div class="container">
  <div class="jumbotron container_form">
  <h1><strong>Usuario: <%= @user.name %></strong></h1> 
  <br>
  <hr>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Nombre</th>
          <th>Correo</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <% if @user.name.blank? %>
              <td></td>
            <% else %>
              <td><%= @user.name %></td>
            <% end %>
            <% if @user.email.blank? %>
              <td></td>
            <% else %>
              <td><%= @user.email %></td>
            <% end %>
            <td><%= link_to  "Editar", edit_user_path(@user) %></td>
            <td><%= link_to 'Eliminar', @user, method: :delete, data: { confirm: '¿Estás seguro de eliminar este usuario?' } %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
