<% name ||= "Crear" %>
<h1><%= name %> Categoría</h1>
<% @category.errors %>
<%= semantic_form_for @category do |f| %>
  <%= f.inputs do %>
    <%= f.input :title, :label => I18n.t('title') %>
    <%= f.input :description, :label => I18n.t('description') %>
    <%= f.input :article, :as => :check_boxes, label: "Artículos" %>
    <%= f.input :project, :as => :check_boxes, label: "Proyectos" %>
  <% end %>

<% if user_signed_in? && current_user.is_asistant? || user_signed_in? && current_user.is_admin? %>
<div class="field">
  <%= f.actions do %>
  <%= f.action :submit, :as => :input, label: "Guardar" %>
  <% end %>
</div>
<% end %>
<% end %>
